.video-container {
    background-color: #7a4bcf;
    height: 630px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.video-container video {
    margin-top: 10px;
    height: 620px;
    object-fit: cover;
    opacity: 0.7;
}

.home-card-left {
    background-color: #9c6cf5;
    width: 50%;
    position: relative;
}

.home-card-right {
    background-color: #2623e0;
    width: 50%;
    position: relative;
}

.home-card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    font-weight: bolder;
    font-size: 80px;
    transform: translate(-50%, -50%);
    color: white;
}

.home-card img {
    opacity: 0.8;
    filter: blur(2px);
}

.home-card img:hover {
    filter: none;
}

.home-card-text:hover {
    color: rgb(250, 250, 250);
}

.home-content h4 {
    letter-spacing: 5px;
    font-size: 20px;
}

.home-content h3 {
    font-size: 30px;
}

.card {
    height: 350px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card img {
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.card p {
    font-size: 15px;
}

/* to view the description of tour packages */
.card input {
    height: 10px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* location name  */
.card .location {
    position: absolute;
    bottom: 1px;
    left: 35px;
}

/* view  more option to explore*/
.view-more {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.view-more:hover {
    text-decoration: none;
}

/* view  more button*/
.view-more input {
    font-size: 20px;
    width: 30%;
}


.blog h2 {
    padding-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.blog-card img {
    height: 200px;
    object-fit: cover;
}

.blog-card .blog-button input {
    right: 32.5%;
    left: 34%;
    width: 100px;
    bottom: 20px;
}

.features-card {
    /* background-color: white; */
    margin-top: 30px 0px 10px 10px;
    height: 320px;
    border-bottom: 10px solid #2f3d4d;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    align-content: center;
    justify-content: center;
}

/* featurs-cirlce */
.circle {
    background: #2f3d4d;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    font-size: 80px;

}

.testimonilas-container {
    background-color: #8875a3bd;
    height: 480px;
    border-radius: 50px;
}

.testimonilas-img {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.testimonilas-img:hover {
    border: 5px solid #582da8;
}

.testimonilas-quotes {
    font-size: 19px;
    font-weight: 20px;
}

.newsletter-container input[type="email"] {
    width: 30%;
    padding: 10px;

}

/* newsletter submit button */
.newsletter-btn {
    width: 10%;
    height: 48px;
}

@media(max-width:500px) {
    .video-container {
        height: 310px;
    }

    .home-card h3 {
        font-size: 15px;
    }

    .home-card-text {
        font-size: 35px;
    }

    .video-container video {
        object-fit: cover;
        height: 300px;
    }

    .home-content h4 {
        font-size: 12px;
    }

    .home-content h3 {
        font-size: 15px;
    }

    .card img {
        object-fit: cover;
    }

    .carousel-item .caption h1,
    p {
        font-size: 10px;
        font-weight: 10px;
    }

    .view-more input {
        width: auto;
    }

    .features-text {
        font-size: auto;
        font-weight: auto;
    }

    .newsletter-container input[type="email"] {
        width: auto;
        padding: auto;
    }

    .newsletter-btn {
        width: auto;
        height: auto;
    }
}

@media(width<=768px) {
    .testimonilas-container {
        height: 700px;
    }
}

@media(max-width:900px) {

    .card img {
        object-fit: cover;
    }

    .carousel-item .caption h1,
    p {
        font-size: 10px;
        font-weight: 10px;
    }

    .view-more input {
        width: auto;
    }

    .features-text {
        font-size: auto;
        font-weight: auto;
    }

    .newsletter-container input[type="email"] {
        width: auto;
        padding: auto;
    }

    .newsletter-btn {
        width: auto;
        height: auto;
    }
}

@media(width>=769px) {
    .testimonilas-container {
        height: 520px;
    }
}