.navbar-main {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbar-brand .brand-name {
    margin-left: 5px;
    color: black;
}

/* name-logo */
#icon {
    color: #7a4bcf;
    height: 40px;
    width: 40px;
}

/* home bar links */
.nav-link {
    color: black;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.sub-nav-link {
    text-decoration: none;
}

.sub-nav-link:hover {
    color: white;
    background-color: #7a4bcf;
}

/* home bar links:hover */
.nav-item .nav-link:hover {
    color: white;
    background-color: #7a4bcf;
    border-radius: 5px;
}

.profile-avatar {
    border-radius: 50%;
    height: 50px;
}

#menubar-logout-dropdown-button-handler {
    color: red;
}

.menubar-profile-pic-dropdown-options{
    position: absolute;
    left: -40px;

}
.menubar-profile-pic-dropdown-button {
    border-radius: 50%;
    height: auto;
    width: auto;
    border: none !important;
    background-color: transparent;
}
@media(max-width:992px) {
    .profile-avatar {
        display: flex;
        justify-content: center;
    }

    .nav-item {
        margin: auto !important;
    }
}