/* Controls the Css for the card */
.rent-card {
    position: relative;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* background-color: blue; */

    &:hover {
        animation: cardshoveranimation 1s ease 0s 1 normal forwards;
    }
}

.rent-card-wrapper {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: currentColor;
    }
}

/* Controls the Css for the top part of the cards */
.rent-card .rent-card-top {
    /* background-color: aqua; */
    height: 180px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.rent-card-top img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.availability-icon-status-ready-rent {
    color: #975fff;
}

.availability-icon-status-not-ready-rent {
    color: rgb(255, 225, 0);
}

/* Controls the Css for the bottom part of the card*/
.rent-card .rent-card-bottom {
    /* background-color: aquamarine; */
    border-radius: 0px 0px 20px 20px;
    height: 185px;
    width: 100%;


}

.rent-card .rent-card-bottom .rent-card-prize {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    color: #7a4bcf;
    font-weight: 500;

}

.rent-card .rent-card-bottom .rent-card-heading {
    font-size: 20px;
    margin-left: 10px;
    margin-top: -13px;
}



.rent-card .rent-card-bottom .rent-card-bhk {
    margin-left: 10px;
    margin-top: -20px;
    color: red;

}



/* Controls the Css for the icons in botton part of card*/
.rent-icons {
    font-size: 13px;
    position: absolute;
    top: 340px;
    left: -30px;

}

.rent-card ul {
    list-style: none;
    /* gap: 10px; */
}

.rent-card .rent-card-bottom .rent-icons .includesWrapper {
    display: flex;
    margin: 5px;

}

.rent-card .rent-card-bottom .rent-icons .includesWrapper .blackText {
    font-size: 14px;
    color: #8f52ff;
    display: flex;
    font-weight: bold;
    margin-left: 2px;
    align-items: center;
    justify-content: center;

}

.rent-card .rent-card-bottom .rent-icons .includesWrapper .blackText .sub-blacktext {
    font-size: 8px;
    color: rgb(53, 52, 52);
}

/* Controls the Css for the card description of the bottom part of the card*/
.rent-card .rent-card-bottom .rent-card-desc {
    font-size: 10px;
    color: rgb(125, 122, 122);
    margin: 47px 0px 0px 10px;
}

/* Controls the Css for the build completion icon and text*/
.rent-card .rent-card-bottom .rent-card-Loc-status {
    margin: 10px;
    gap: 5px;
}

.rent-card .rent-card-bottom .buildingstatus {
    color: #7a4bcf;

}

.rent-card .rent-card-bottom .rent-card-build-symbol {
    color: #b8a6d8;
    margin-top: -2px;


}

.rent-card .rent-card-bottom .rent-card-Loc-status .rent-card-Loc-status-text {
    font-size: 10px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rentiing .renting-page-header-hero {
    background-color: #7a4bcf;
}

.renting .renting-page-header-heading-hero {
    position: absolute;
    top: 110px;
    left: 420px;
    letter-spacing: 2px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    background-color: transparent;
}

.renting .renting-page-header-subheading-hero {
    position: absolute;
    top: 170px;
    left: 500px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background-color: transparent;
}

#rent-page-header-image {
    opacity: 70%;
    z-index: 2;

}

.renting-page-header-hero-search {
    background-color: rgb(204, 204, 204);
    border-radius: 100px 100px;
    width: 50%;
    color: black;
    text-align: left;
    padding: 15px;
    border: 3px solid #7a4bcf;
    opacity: 70%;

}

.renting-page-header-hero-search-button {
    padding: 9px 10px 9px 10px;
    color: white;
    background-color: black;
    border-radius: 100px 100px;
    position: absolute;
    left: 965px;
    top: 227px;
    opacity: 70%;
    border: none;

}

.rent-page-header-hero-search-complete {
    /* margin-top: -10px; */
    z-index: 10;
    /* position: absolute; */
    margin-top: -230px;
    margin-bottom: 230px;
    margin-left: 530px;
    top: 170px;
    left: 460px;
}