.main-body .signup-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.main-body .signup-container .left-part {
    background-color: #7a4bcf;
    height: 100%;
    width: 60%;
    z-index: 1;
}

.main-body .signup-container .right-part {
    background-color: white;
    height: 100%;
    width: 40%;
    font-size: 20px;
    padding-left: 20px;
}

.signup-container .left-part .div-msg {
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 20px;
    top: 2%;
    left: 1%;
    font-weight: 10;
}

.signup-container .left-part .div-msg .msg {
    margin-top: 5px;
    font-size: 25px;
}

.signup-container .left-part img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

.signup-container .right-part h1 {
    font-size: 30px;
}

.signup-form .signup-group input[type="text"],
.signup-form .signup-group input[type="number"],
.signup-form .signup-group input[type="password"],
.signup-form .signup-group input[type="email"] {
    border: none;
    outline: none;
    height: 45px;
    border-radius: 10px;
    border-left: 10px solid #7a4bcf;
    background-color: #EEEEEE;
    margin: 20px 0px 0px 0px;
}


@media(width<=672px) {
    .signup-container .left-part img {
        object-fit: cover;
    }
}


@media(width<=695px) {
    .footer-text .text {
        font-size: 12px;
    }
}

@media(max-width:739px) {
    .submit-button {
        width: 75px;
    }
}