.about-page-top-hero {
    display: flex;
    height: 350px;
    width: 100%;
    border-radius: 0px 200px 200px 200px;
    background-color: rgb(234, 223, 234);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-page-top-hero-left {
    width: 50%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(173, 171, 171);
}

.about-page-top-hero-left p {
    max-width: 400px;
    font-size: 50px;
    letter-spacing: 3px;
}

.about-page-top-hero-right {
    width: 50%;
    margin-top: 50px;

}

.about-page-top-hero-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 350px 0px 200px 90px;
}