/* Controls the Css for the card */
.rent-card {
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* background-color: blue; */
}

/* Controls the Css for the top part of the cards */
.rent-card .rent-card-top {
    /* background-color: aqua; */
    height: 180px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.rent-card-top img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* Controls the Css for the bottom part of the card*/
.rent-card .rent-card-bottom {
    /* background-color: aquamarine; */
    border-radius: 0px 0px 20px 20px;
    height: 185px;
    width: 100%;


}

.rent-card .rent-card-bottom .rent-card-prize {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    color: #7a4bcf;
    font-weight: 500;

}

.rent-card .rent-card-bottom .rent-card-heading {
    font-size: 25px;
    margin-left: 10px;
    margin-top: -13px;
    font-weight: bold;
}



.rent-card .rent-card-bottom .rent-card-bhk {
    margin-left: 10px;
    margin-top: -20px;
    color: red;

}



/* Controls the Css for the icons in botton part of card*/
.rent-icons {
    font-size: 13px;
    position: absolute;
    top: 345px;
    left: -22px;

}

.rent-card ul {
    list-style: none;
    /* gap: 10px; */
}

.rent-card .rent-card-bottom .rent-icons .includesWrapper {
    display: flex;
    margin: 5px;

}

.rent-card .rent-card-bottom .rent-icons .includesWrapper .blackText {
    font-size: 9px;
    display: flex;
    margin-left: 2px;
    align-items: center;
    justify-content: center;

}

/* Controls the Css for the card description of the bottom part of the card*/
.rent-card .rent-card-bottom .rent-card-desc {
    font-size: 10px;
    color: rgb(125, 122, 122);
    margin: 47px 0px 0px 10px;
}

/* Controls the Css for the build completion icon and text*/
.rent-card .rent-card-bottom .rent-card-Loc-status {
    margin: 10px;
    gap: 5px;
}

.rent-card .rent-card-bottom .buildingstatus {
    color: #7a4bcf;

}

.rent-card .rent-card-bottom .rent-card-build-symbol {
    color: #b8a6d8;
    margin-top: -2px;


}

.rent-card .rent-card-bottom .rent-card-Loc-status .rent-card-Loc-status-text {
    font-size: 10px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.renting .renting-page-header-hero {
    height: 450px;
    width: 100%;
    background-color: #7a4bcf;

}


.renting .renting-page-header-heading-hero {
    position: absolute;
    top: 180px;
    left: 420px;
    letter-spacing: 2px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    z-index: 3;
}

.renting .renting-page-header-subheading-hero {
    position: absolute;
    top: 250px;
    left: 430px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    z-index: 3;
}



.rent-page-header-hero-search-complete {
    display: flex;
    justify-content: center;

}

.renting-page-header-hero-search-button {
    padding: 8px 9px 8px 9px;
    color: white;
    border: none;
    background-color: black;
    border-radius: 100px 100px;
    position: absolute;
    top: 304px;
    right: 500.5px;


}

.renting-page-header-hero-search {
    position: absolute;
    top: 300px;
    border: none;
    border-radius: 15px;
    width: 550px;
    padding: 9px 5px;
    border: 2.5px solid #7a4bcf;
    text-decoration: none;
    opacity: 70%;
    text-align: left !important;
}